th{
    background: antiquewhite;
}

/* The Modal (background) */
.bus {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .bus-content {
    border: 2px solid red;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.addbus{

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bus{
display: flex;
background-color: lightgrey;
width: 400px;
padding: 30px 60px;
margin: 40px;
border:2px solid black;
align-items: center;

}
.button{
  background-color: aliceblue;
}
.button:hover{
  background-color:green;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
}
.content{
  display:block;
  justify-content:left;
  align-items:left;
  width:18rem;
}
.area
{
  padding-bottom: 10px;
}
}